.signin {
  margin-right: 15px;
}

p.navbar-text.navbar-right {
  margin-right: 15px;
}

body {
  padding-top: 70px;
}

#auth-body {
  padding-top: 0px
}

#auth-icon {
  float: left;
}

#auth-button {
  float: right;
}