.signin {
  margin-right: 15px;
}

p.navbar-text.navbar-right {
  margin-right: 15px;
  color: #eee;
}

.navbar-collapse {
  background-color: #033d62;
}
#bs-example-navbar-collapse-1 a {
  color: #eee;
}
#bs-example-navbar-collapse-1 a:hover {
  color: #336699;
}

body {
  padding-top: 70px;
  background-color: #6699cc;
}

#auth-body {
  padding-top: 0px
}

#auth-icon {
  float: left;
}

#auth-button {
  float: right;
  background-color: #9ec7ea;
}

.jumbotron {
  background-color: #3674ab;
  color:#eee;
}

.table {
  color: black;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #033d62;
  color: #eee;
}

.sort-column {
  background-color: #3674ab;
  color: #eee;
}

body > div > div > div:nth-child(2) > div > div.react-bs-table > div.react-bs-container-header.table-header-wrapper > table > thead > tr > th:nth-child(1) {
  background-color: #3674ab;
}

.navbar-header {
  background-color: #033d62;
}

.navbar-toggle {
  background-color: #eee;
}